<div class="col-md-6 mx-auto shadow p-3 mt-2 bg-body rounded-4">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h1 class="navbar-brand">Cadastrar Produtos</h1>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/produto" ><i class="fa-solid fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <form method="post" action="/produto/salvar" class="mx-4">
        <fieldset>
            {{!-- <legend>CADASTRO</legend> --}}
            <label>DESCRIÇÃO</label>
            <input name="descricao" type="text" class="form-control">

            <label>PREÇO</label>
            <input name="preco" type="text" class="form-control">

            <label>ESTOQUE</label>
            <input name="estoque" type="number" class="form-control">

            <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </fieldset>
    </form>
</div>