<div class="col-md-6 mx-auto">
    <table class="table table-striped">
        <tr>
            <td>DESCRICAO</tr>
            <td>{{produto.descricao}}</td>
        </tr>

        <tr>
            <td>PRECO</tr>
            <td>{{produto.preco}}</td>
        </tr>

        <tr>
            <td>ESTOQUE</tr>
            <td>{{produto.estoque}}</td>
        </tr>

        <tr>
            <td>STATUS</tr>
            <td>{{produto.status}}</td>
        </tr>
    </table>

</div>