<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Sistema</title>
</head>
<body> 
    <nav  class="navbar bg-primary">
      <div class="container rounded p-2 ">
        <a class="navbar-brand text-white" href="/"> 
          <img src="/img/logo.png" alt="" width="80px"> 
          <strong>IFMA Construções</strong>    
        </a>
     
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> Usuario
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#"><i class="bi bi-person-vcard-fill"></i> Meus Dados</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-key-fill"></i> Alterar Senha</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-left"></i> Sair</a></li>
            </ul>
        </div>

      </div>
    </nav>
    
    {{{body}}}
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>