<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clientes 2</title>
  <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/icons/bootstrap-icons.css">

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>

  <div class="row my-2 mx-5 ">
    <div class="col-md-3 bg-body-secondary p-4 rounded">
      <img src="/img/profile1.png" class="w-50 d-block mx-auto rounded rounded-circle">
      <h4 class="text-center mt-3">Lauanderson Rael</h4>
      <h5 class="text-center">Administrador</h5>
    </div>

    <div class="col-sm-9 px-2">
      <div class="bg-body-secondary d-flex justify-content-between px-4 py-4 rounded">
        <h4>Bem vindo ao Sistema</h4>
        <div class="nav-item">
          <a href="/produto" type="button" class="btn btn-outline-primary">
            <i class="bi bi-card-list"></i> 
            <div>Produtos</div>
          </a>
        </div>

      </div>
    </div>

    
  </div>

  {{!--
  <script src="/js/bootstrap.bundle.js"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeo49l5f6Y3eGcI97LnD8L7mH7KZxF5Hhc9txP3qk2BO2+3" crossorigin="anonymous"></script>

</body>

</html>