<div class="col-md-6 mx-auto shadow p-3 mt-3">
    <form action="/cadastro" method="post">
        <fieldset>
            <legend>Cadastro de Produtos</legend>

            <label for="">DESCRICAO</label>
            <input name="descricao" type="text" class="form-control">

            <label for="">PREÇO</label>
            <input name="preco" type="text" class="form-control">

            <label for="">ESTOQUE</label>
            <input name="estoque" type="number"class="form-control" >

            <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </fieldset>
    </form>
</div>