 <div class="container-sm my-2">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h3 class="navbar-brand">Produtos</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary mx-2" href="/cadastro"><i class="fa-solid fa-plus"></i> Novo</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/" ><i class="fa-solid fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>
    <table class="table table-striped">
        <tr>
            <th class="col-1">ID</th>
            <th class="col-5">DESCRICAO</th>
            <th class="col-2">PRECO</th>
            <th class="col-2">ESTOQUE</th>
        </tr>
        {{#each produtos}}
        <tr>
            <td class="col-1">{{id}}</td>
            <td class="col-5">{{descricao}}</td>
            <td class="col-2">{{preco}}</td>
            <td class="col-2">{{estoque}}</td>
        </tr>
        {{/each}}

    </table>

    

    {{!-- <table class="table table-striped">
        <tr>
            <th class="col-1">ID</th>
            <th class="col-5">DESCRIÇÃO</th>
            <th class="col-2">PREÇO</th>
            <th class="col-2">ESTOQUE</th>

        </tr>
        <tr>
            <td>22</td>
            <td>Adaptador VGA para HDMI</td>
            <td>20</td>
            <td>5</td>

        </tr>
        <tr>
            <td>9</td>
            <td>Fonte 500W</td>
            <td>2022.19</td>
            <td>19</td>

        </tr>
        <tr>
            <td>8</td>
            <td>Gabinete Gamer Com Led</td>
            <td>1000.22</td>
            <td>40</td>

        </tr>
        <tr>
            <td>4</td>
            <td>HD Externo 1TB</td>
            <td>163.21</td>
            <td>65</td>

        </tr>
        <tr>
            <td>13</td>
            <td>Headset Gamer</td>
            <td>1495.2</td>
            <td>15</td>

        </tr>
        <tr>
            <td>11</td>
            <td>Memória RAM 16GB</td>
            <td>2072.88</td>
            <td>18</td>

        </tr>
        <tr>
            <td>19</td>
            <td>Microfone Condensador</td>
            <td>2690.69</td>
            <td>21</td>

        </tr>
        <tr>
            <td>3</td>
            <td>Monitor Full HD</td>
            <td>1449.64</td>
            <td>84</td>

        </tr>
        <tr>
            <td>1</td>
            <td>Mouse Óptico</td>
            <td>2200.72</td>
            <td>48</td>

        </tr>
        <tr>
            <td>18</td>
            <td>Mousepad RGB</td>
            <td>2125.33</td>
            <td>41</td>

        </tr>
        <tr>
            <td>6</td>
            <td>Notebook i5</td>
            <td>1462.52</td>
            <td>90</td>

        </tr>



    </table>

</div>     --}}