<div class="col-md-6 mx-auto">

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h3 class="navbar-brand">Detalhes do Produtos</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/produto" ><i class="fa-solid fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-hover">
        <tr>
            <td>DESCRIÇÃO</td>
            <td>{{produto.descricao}}</td>
        </tr>
        <tr>
            <td>PREÇO</td>
            <td>{{produto.preco}}</td>
        </tr>
        <tr>
            <td>ESTOQUE</td>
            <td>{{produto.estoque}}</td>
        </tr>
        <tr>
            <td>STATUS</td>
            <td>{{produto.status}}</td>
        </tr>
    </table>
</div>